@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #ff9a9e, #fad0c4);
    margin: 0;
    padding: 0;
    transition: .4s;
}

.dark {
    background: #121212 !important;
    color: white !important;
}

.dark header {
    background: #1f1f1f !important;
}

header {
    padding: 20px;
    text-align: center;
    background: #000;
    color: white;
}

header input {
    padding: 8px;
    width: 200px;
    border-radius: 6px;
    border: none;
}

#modeToggle {
    float: right;
    margin-top: -40px;
    margin-right: 20px;
    padding: 8px 15px;
    background: #444;
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

.container {
    text-align: center;
    margin-top: 30px;
}

#meme-img {
    width: 370px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
    transition: .3s;
}

#meme-img:hover {
    transform: scale(1.03);
}

#caption {
    font-size: 20px;
    margin-top: 10px;
    font-weight: bold;
}

.btn-group button,
.extra-buttons button {
    padding: 10px 18px;
    margin: 10px;
    border: none;
    background: #000;
    color: white;
    cursor: pointer;
    border-radius: 6px;
    transition: .2s;
}

.btn-group button:hover,
.extra-buttons button:hover {
    background: #444;
}

.upload label {
    margin-top: 20px;
    padding: 10px 20px;
    background: red;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    display: inline-block;
}

.upload input {
    display: none;
}

#like-count {
    display: block;
    margin-top: 10px;
    font-size: 18px;
}